{% extends "tasks/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if user.first_name %}
            <h1 class="welcome">{{ welcome_word }}, {{ user.first_name }}</h1>
        {% else %}
            <h1 class="welcome">{{ welcome_word }}, {{ user.username }}</h1>
        {% endif %}

        <h2 class="pageTitle">Upcoming Tasks</h2>
        <button id="newTaskBtn" class="newTaskBtn" role="button">
            <i class="fa-solid fa-plus newTaskIcon" style="border: 2px solid black;"></i> New Task
        </button>
        <table class="table table-dark table-sortable table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Task Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Category</th>
                    <th scope="col">Completed</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="table-body" class="table-body">
                {% if upcoming_tasks %}
                    {% for task in upcoming_tasks %}
                        <tr scope="row" class="task-row" data-task-id="{{ task.id }}">
                            <td>
                                <button class="icon-button edit-btn" data-task-id="{{ task.id }}">
                                    <i class="fa-solid fa-pen-to-square edit-icon" title="Edit Task"></i>
                                </button>
                            </td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{% if task.due_date %}{{ task.due_date|date:"F j, Y, g:i a" }}{% else %}N/A{% endif %}</td>
                            <td class="{% if task.priority == 'high' %}high-priority{% elif task.priority == 'medium' %}medium-priority{% else %}low-priority{% endif %}">{{ task.get_priority_display }}</td>
                            <td>{{ task.category.name }}</td>
                            <td>
                                <input type="checkbox" name="completed" {% if task.completed %}checked{% endif %} data-task-id="{{ task.id }}">
                            </td>
                            <td>
                                <button class="icon-button delete-btn" data-task-id="{{ task.id }}">
                                    <i class="fa-solid fa-trash delete-icon" title="Delete Task"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <p>No upcoming tasks.</p>
                {% endif %}
            </tbody>
        </table>
        <div class="button-container">
            <button id="cancelTableBtn" class="btn btn-secondary cancelTableBtn" style="display: none;">Cancel</button>
            <button id="saveTableBtn" class="btn btn-primary saveTableBtn" style="display: none;">Save Table</button>
        </div>
    {% else %}
        <h1 class="welcome">{{ welcome_word }}, Guest</h1>
        <h4 id="registerOrLogin"><a href="{% url 'auth' %}?form_type=register">Register</a> or <a href="{% url 'auth' %}?form_type=login">log in</a> to see your tasks.</h4>
    {% endif %}
{% endblock body %}
