body {
    background-color: rgb(28, 28, 28);
    user-select: none;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#display {
    height: 131.25px;
    width: 386px;
    background-color: rgb(0, 0, 0);
    border: none;
    font-size: 105px;
    color: white;
    user-select: all;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    font-family: Arial;
    text-align: right;
}
#box {
    width: 390px;
    height: 600px;
    border: 2px solid rgb(71, 71, 69);
    background-color: rgb(0, 0, 0);
    border-radius: 13px;
}
button {
    border: 1px solid rgb(31, 31, 30);
    font-size: 40px;
    width: 84.5px;
    height: 84.5px;
    margin: 5px;
    color: white;
    border-radius: 50px;
    margin-top: 3px;
    cursor: pointer;
    font-weight: 100px;
}
#buttonContainer {
    margin-bottom: 10px;
}
.number {
    background-color: hsl(60, 1%, 30%);
}
.number:hover {
    background-color: hsl(60, 1%, 40%);
}
.number:active {
    background-color: hsl(60, 1%, 50%);
}
.signs {
    background-color: hsl(36, 100%, 50%);
}
.signs:hover {
    background-color: hsl(36, 100%, 60%);
}
.signs:active {
    background-color: hsl(36, 100%, 70%);
}
#AC {
    width: 281.5px;
}
#zero {
    width: 183px;
}
